<div class="header bg-cyan pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <a href="javascript:void(0)">
                        <i class="fa fa-tags"> </i>
                    </a>
                    <span> - </span>
                    <h6 class="h2 text-white d-inline-block mb-0">Eventos</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row justify-content-center">
        <div class=" col-lg-12 card-wrapper">
            <div class="card md-12">
                <div class="card-body bg-secondary">
                    <!-- <tabset type="pills" class="nav-fill flex-column flex-md-row">
                        <tab>
                            <ng-template tabHeading>
                                <i *ngIf="loadPlacedOrders" class="fa fa-spinner fa-spin"></i>
                                PENDIENTES
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i *ngIf="loadPlacedOrders" class="fa fa-spinner fa-spin"></i>
                                ACEPTADOS
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i *ngIf="loadPlacedOrders" class="fa fa-spinner fa-spin"></i>
                                SUSPENDIDOS
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i *ngIf="loadPlacedOrders" class="fa fa-spinner fa-spin"></i>
                                CANCELADOS
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i *ngIf="loadPlacedOrders" class="fa fa-spinner fa-spin"></i>
                                NEGADOS
                            </ng-template>
                        </tab>
                    </tabset> -->
<!-- 
                    <div class="p-4">
                        <input type="text" class="form-control form-control-alternative"
                            (input)="searchProduct($event.target.value)" placeholder="Buscar..." />
                    </div> -->

                    <div class="row">
                        <div class="col-xl-4" *ngFor="let evt of events">
                            <div class="card" style="border-radius: 10%;" title="{{ evt.nameEvent }}">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class=" col-md-8" >
                                            <h5 class=" h3" style="padding-top: -12px; font-size: 14px;">
                                                {{ evt.nameEvent.substring(0,19) }}
                                            </h5>
                                        </div>
                                        <div class=" col-md-4 text-right">
                                            <p *ngIf="evt.available" class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"></p>
                                            <p *ngIf="!evt.available" class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" card-body">
                                    <div class="text-center">
                                        <img alt="Image placeholder" class="image--pr" src="{{url}}view/event/{{evt.img}}" style="object-fit: contain;" />
                                    </div>
                                    
                                    <div class="text-center" style="height: 60px;">
                                        <p>
                                            {{evt.description}}
                                        </p>
                                    </div>
                                </div>

                                <div class="card-footer" style="margin-top: -50px;">
                                    <div class="boton" style="color: white; font-weight: bold; cursor: pointer;" routerLink="/new-event/{{evt._id}}">
                                        Editar
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fab-container">
    <button mat-fab style="background: #f6c042" routerLink="/new-event" matTooltip="Agregar Evento"
        matTooltipPosition="left">
        <mat-icon>add</mat-icon>
    </button>
</div>