
.boton {
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #F6C042;
    position: relative;
    bottom: -20px;
    height: 30px;
    width: 60%;
    text-align: center;
    padding-top: 7px;
    margin-left: 18%;
    border: transparent !important;
}

#footer-resume{
    border-top: 0px solid rgba(0, 0, 0, .05) !important;
}