<div class=" header bg-cyan pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <a href="javascript:void(0)"> <i class="fa fa-chart-pie"> </i> </a>
                    <span> - </span>
                    <h6 class=" h2 text-white d-inline-block mb-0">Resumen</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row justify-content-center">
        <div class=" col-lg-12 card-wrapper">
            <div class="card md-12">
                <div class="card-body bg-secondary">
                    <form #buscar="ngForm" class="form-horizontal" (ngSubmit)="searchEvents(buscar)">
                        <div class="p-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-control-label">Desde</label>
                                    <input type="date" name="desde" [ngModel]="desde" [value]="desde " id="desde" class="form-control form-control-alternative">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-control-label">Hasta</label>
                                    <input type="date" name="hasta" id="hasta" [ngModel]="hasta" [value]="hasta " class="form-control form-control-alternative">
                                </div>
                                <div class="col-md-5">
                                    <label class="form-control-label">Buscar</label>
                                    <input type="text" (keyup)="searchEvents(buscar)" class="form-control form-control-alternative" id="buscar" name="buscar" ngModel placeholder="Buscar...">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-control-label">.</label><br>
                                    <button class="btn btn-primary">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-4" *ngFor="let item of events">
                            <div class="card hov" (click)="viewDetail(item.event)" data-toggle="modal" data-target="#viewDetail" title="Seleccionar" style="border: transparent !important; border-radius: 5%;">
                                <div class="card-body" id="card-resume">
                                    <div class="text-center">
                                        <div class="">
                                            <img src="{{url}}view/event/{{item.event.img}}" style="max-width:100%; width: auto; height: 180px; border: transparent; border-radius: 6%;">

                                            <div class="text-block" style="margin-top: 10px;">
                                                <p class="h5">
                                                    <small style="color: black !important;" class="h4 text-uppercase text-success font-weight-bold">
                                                        {{item.event.nameEvent}}
                                                    </small>
                                                    <br> {{item.event.description}}
                                                </p>
                                                <p class="h5">
                                                    <small style="color: black !important;" class="h4 text-uppercase text-success font-weight-bold">
                                                        Total
                                                    </small>
                                                    <br> {{ item.total | number: '1.2-2' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <figcaption> -->
                                <!-- <div class="card-footer" id="footer-resume" style="margin-top: -12%; background-color: transparent !important;">
                                        <div class="boton" style="color: white; font-weight: bold; cursor: pointer;" (click)="viewDetail(item.event._id)" data-toggle="modal" data-target="#viewDetail">
                                            Ver más
                                        </div>
                                    </div> -->
                                <!-- </figcaption> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="viewDetail" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Detalles de venta</h6>
                <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="modal-body ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p style="font-weight: bold; font-size: 20px; text-align: center;">Detalle ventas Aplicación</p>
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Localidad</th>
                                                        <th scope="col">Pvp</th>
                                                        <th scope="col">Cant</th>
                                                        <th scope="col">Subtotal</th>
                                                        <th scope="col" *ngIf="iva">Iva</th>
                                                        <th scope="col">Comisión</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="list">
                                                    <tr *ngFor="let app of listDetailApp; let i=index;">
                                                        <th>{{ app.description }}</th>
                                                        <th>{{ app.localityPrice }}</th>
                                                        <th>{{ app.count }}</th>
                                                        <th>{{ app.localityPrice * app.count | number: '1.2-2' }}</th>
                                                        <th *ngIf="iva">{{ (app.localityPrice * app.count) * ivaValue | number: '1.2-2' }}</th>
                                                        <th>{{ (app.localityCommision * app.count) * ivaSum | number: '1.2-2' }}</th>
                                                        <th>{{ (app.localityPrice * app.count) + ((app.localityPrice * app.count) * ivaValue) + ((app.localityCommision * app.count) * ivaSum) | number: '1.2-2' }}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-5">
                                            <p style="font-weight: bold; font-size: 20px; text-align: center;">Detalle ventas Ventanilla</p>

                                            <table class="table align-items-center table-flush sortable">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Localidad</th>
                                                        <th scope="col">Pvp</th>
                                                        <th scope="col">Cant</th>
                                                        <th scope="col">Subtotal</th>
                                                        <th scope="col" *ngIf="iva">Iva</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="list">
                                                    <tr *ngFor="let web of listDetailWeb; let i=index;">
                                                        <th>{{ web.description }}</th>
                                                        <th>{{ web.localityPrice | number: '1.2-2' }}</th>
                                                        <th>{{ web.count }}</th>
                                                        <th>{{ (web.localityPrice * web.count) | number: '1.2-2' }}</th>
                                                        <th *ngIf="iva">{{ (web.localityPrice * web.count) * ivaValue | number: '1.2-2' }}</th>
                                                        <th>{{ (web.localityPrice * web.count) + ((web.localityPrice * web.count) * ivaValue) | number: '1.2-2' }}</th>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
                    </form>
                </div>
                <!-- 
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">
                        Cerrar
                    </button>
                </div> -->
            </form>
        </div>
    </div>
</div>